.simulation-form {
  align-items: center;
  display: flex;
  margin-top: 2rem;
}

.simulation-form * {
  margin-right: 1rem;
}

.simulation-steps {
  width: 250px;
}

.simulation-result {
  font-family: monospace;
  font-size: 0.75rem;
}
